es {
   env.config.file = "/opt/ZeroMQ-Spark-Streaming/configs/ElasticSearchEnv.config"

}

index {
    name = "bidresponse"
    id.field.name = "oidStr"
}

stream {
    es.checkpoint.path = "/opt/ZeroMQ-Spark-Streaming/escheckpoint/bidresponse"
}

transform {
    className = "com.analytics.transformers.BidResponseTransformer"
}

parameters {
    # for streaming job cores must be min 2
    spark.cores = "2"
    spark.app.name = "BidResponseToES"
    spark.num.partitions = "1"
    spark.stream.interval.seconds = "1"
}

topic {
    name = "bidresponse"
    url = "tcp://172.105.41.62:5571"
}
