es {
   env.config.file = "/opt/ZeroMQ-Spark-Streaming/configs/ElasticSearchEnv.config"

}

index {
    name = "bidresponse"
    id.field.name = "bidid"
}

stream {
    es.checkpoint.path = "/opt/ZeroMQ-Spark-Streaming/escheckpoint/bidwinupdate"
}

transform {
    className = "com.analytics.transformers.WinBidUpdateTransformer"
}

parameters {
    # for streaming job cores must be min 2
    spark.cores = "2"
    spark.app.name = "BidWinUpdateToES"
    spark.num.partitions = "1"
    spark.stream.interval.seconds = "15"
}

topic {
    name = "wins"
    url = "tcp://172.105.41.62:5572"
}
