es {
   env.config.file = "/opt/ZeroMQ-Spark-Streaming/configs/ElasticSearchEnv.config"

}

index {
    name = "clicks"
    id.field.name = "bid_id"
}

stream {
    es.checkpoint.path = "/opt/ZeroMQ-Spark-Streaming/escheckpoint/clicksresponse"
}

transform {
    className = "com.analytics.transformers.ClicksResponseTransformer"
}

parameters {
    # for streaming job cores must be min 2
    spark.cores = "2"
    spark.app.name = "ClicksToES"
    spark.num.partitions = "1"
    spark.stream.interval.seconds = "15"
}

topic {
    name = "clicks"
    url = "tcp://172.105.41.62:5573"
}