es {
   env.config.file = "/opt/ZeroMQ-Spark-Streaming/configs/ElasticSearchEnv.config"

}

index {
    name = "publisher"
    id.field.name = "id"
}

stream {
    es.checkpoint.path = "/opt/ZeroMQ-Spark-Streaming/escheckpoint/publisher"
}

transform {
    className = "com.analytics.transformers.PublisherTransformer"
}

search {
    bidresponse.index.name = "bidresponse"
    # key will change based on the above value
    bidresponse.query = "_search?q=_id:{id}&_source=responseBuffer"
    bidrequest.index.name = "bidrequest"
    # key will change based on the above value
    bidrequest.query = "_search?q=_id:{id}&_source=id,imp,site"
}

parameters {
    # for streaming job cores must be min 2
    spark.cores = "2"
    spark.app.name = "BidWinUpdateToES"
    spark.num.partitions = "1"
    spark.stream.interval.seconds = "5"
}

topic {
    name = "wins"
    url = "tcp://172.105.41.62:5572"
}
