es {
   env.config.file = "C:/jobs/xrtb-spark-streaming/config/ElasticSearchEnv.config"

}

index {
    name = "bidresponse"
    id.field.name = "oidStr"
}

stream {
    es.checkpoint.path = "C:/jobs/xrtb-spark-streaming/escheckpoint/bidresponse"
}

transform {
    className = "com.analytics.transformers.BidResponseTransformer"
}

search {
    bidresponse.index.name = "bidresponse"
    # key will change based on the above value
    bidresponse.query = "_search?q=_id:{id}&_source=responseBuffer"
    bidrequest.index.name = "bidrequest"
    # key will change based on the above value
    bidrequest.query = "_search?q=_id:{id}&_source=impid,site"
}
parameters {
    # for streaming job cores must be min 2
    spark.cores = "2"
    spark.app.name = "BidResponseToES"
    spark.num.partitions = "1"
    spark.stream.interval.seconds = "15"
}

topic {
    name = "bidresponse"
    url = "tcp://172.105.41.62:5571"
}